---
import Layout from "../layouts/Layout.astro";

import About from "../sections/About.astro";
import Education from "../sections/Education.astro";
import Experience from "../sections/Experience.astro";
import Hero from "../sections/Head.astro";
import Projects from "../sections/Projects.astro";
import Skills from "../sections/Skills.astro";
---

<Layout title={`Portafolio personal`}>
  <main >
    <Hero />
    <About />
    <Experience />
    <Education />
    <Projects />
    <Skills />
  </main>
</Layout>

<style>
  body {
    background: linear-gradient(500deg, #ffffff, rgb(161, 0, 201));
    font-family: 'Helvetica Neue', Arial, sans-serif;
    line-height: 1.6;
    padding: 1em;
    color: #333;
  }
  main {
    padding: 4rem;
    margin: auto;
    max-width: 800px;
  }

  @media (max-width: 900px) {
    main {
      padding: 2rem;
    }
  }

  @media (max-width: 700px) {
    main {
      padding: 1rem;
    }
  }
</style>
