---
//import de basicos
import { basics } from "../../cv.json";
---
<div >
  <h1>Sobre mí</h1>
  <p>
    {basics.summary}
  </p>
</div>

<style>
  h1 {
    margin-bottom: 8px;
    font-weight: 700;
    line-height: 1.5;
    font-size: 1.5rem;
    color: black;
  }
</style>
